.top-buffer {
  padding-top: 100px;
}

.top-buffer-2 {
  padding-top: 50px;
}

.text-sh {
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.upload-event {
  background-color: #28c3ab;
  border-color: #28c3ab;
}
